
<div ng-controller="AccountCtrl">
	<form name="profileChange" novalidate ng-submit="submitProfileChange(profileChange.$valid)">
		<div class="form-group" ng-class="{ 'has-error': profileChange.fname.$invalid && profileChange.fname.$touched}">
			<label style="margin-right: 89px;">First Name</label>
			<input type="text" name="fname" ng-model="fname" style="width:280px;" class="form-control" required ></input>
			<div class="help-block" ng-messages="profileChange.fname.$error" ng-show="profileChange.fname.$touched">
    			<div ng-messages-include="./pages/modals/messages.html"></div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': profileChange.lname.$invalid && profileChange.lname.$touched}">
			<label style="margin-right: 91px;">Last Name</label>
			<input type="text" name="lname" ng-model="lname" style="width:280px;" class="form-control" required></input>
			<div class="help-block" ng-messages="profileChange.lname.$error" ng-show="profileChange.lname.$touched">
    			<div ng-messages-include="./pages/modals/messages.html"></div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': profileChange.email.$invalid && profileChange.email.$touched}">
			<label style="margin-right: 70px;">Email Address</label>
			<input type="email" name="email" ng-model="email" style="width:280px;" class="form-control" required></input>
			<div class="help-block" ng-messages="profileChange.email.$error" ng-show="profileChange.email.$touched">
    			<div ng-messages-include="./pages/modals/messages.html"></div>
			</div>
		</div>
		<button id="loginbutton" type="submit" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="isSubmitted = true">submit</button>
	</form>
</div>