
<div ng-controller="AdminCtrl">
	<div id="buttonBox">
		<h4 id = "pageheader">Groups</h4>
	</div>
	<label class="login-carderror" style="margin-left:16.5%;">{{errorLabel}}</label><br/>
	<div style="display: inline-block; max-height: 600px; overflow-y: auto;">
		<table style="width: 100%;">
			<tbody style="border: 1px solid #FC635E;">
				<tr ng-repeat="grp in groups" class="rowUnSelect" selection-model selection-model-on-change="showGroupMembers(grp)">
					<td style="padding: 5px; border: 1px solid #416C9B;">{{grp.origName}}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button class="wedobtn" style="width: 90%;font-size:1.1em;" ng-click="addGroups()">add group</button>
		</div>
	</div>
	<div ng-if="isEditing" style="display: inline-block; vertical-align: top; position: absolute; left: 50%;">
		<input type="text" id="group" ng-model="group.GRPNAME" style="width:280px;" class="login-cardinput" ng-required></input><br/>
		<ul id="groupsTags" class="tagit ui-widget ui-widget-content ui-corner-all" style="width:280px; margin-left:0;">
			<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable"></li>
		</ul>
		<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="submitGroups()">submit</button>
	</div>
</div>