@CHARSET "ISO-8859-1";

::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #FC635E;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #FC635E;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

#top {
	width: 100%;		
	padding: 0; /* different browsers default to different values, so set to 0 to make sure there is not maring or padding */
	margin: 0;
}

#topLeft {
	float: left; 
	width: 80%;		/* must ALWAYS set width when using float: */
	padding: 0; /* different browsers default to different values, so set to 0 to make sure there is not maring or padding */
	margin: 0;
}

#topRight {
	float: right;
	margin: 0 2px 5px 2px;	/* top, right, bottom, left */
	width: 19%;
}

#outerBox {
	width: 100%;
	height: 100%;
	min-height: 480px;
	overflow: hidden;
}

#leftBar {
	height: 100%;
	width: 35%;
	float: left;
	padding: 0;
	margin: 0;
}

#accountContent {
	width: 65%;
	height: 100%; /* 700 */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#leftBarForms {
	height: 100%;
	width: 14%;
	float: left;
	padding: 0;
	margin: 0;
}

#topLeftForms {
	float: left; 
	width: 80%;		/* must ALWAYS set width when using float: */
	padding: 0; /* different browsers default to different values, so set to 0 to make sure there is not maring or padding */
	margin: 0;
}

#formsContent {
	height: 100%; /* 700 */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#formsSubmitContent {
	width: 95%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#topClear {
	clear: both;
	margin: 0;
	padding: 0;
}

#leftBarAdmin {
	height: 100%;
	width: 15%;
	float: left;
	padding: 0;
	margin: 0;
}

#adminContent {
	width: 85%;
	height: 100%; /* 700 */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.wrapperBoxDropTarget{
	border-style: solid;
	border-width: 2px;
	border-color: red;
	margin-left: 10px;
}

.wrapperBoxMainGrid{
	border-style: solid;
	border-width: 2px;
	border-color: #D0D0D0;
	padding: 1px 1px 1px 1px;	/* top right bottom left */
}

.pagebodyAccount {
  margin: 40px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
  position: inherit;
  padding: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow-x: auto;
}

.pagebodyForms {
  margin: 40px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
 /* min-height: 568px; */
 	height: 100%;
  background-color: #fff;
  position: inherit;
  padding: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow-x: auto;
}

#wrapper {
    width: 100%;
}

#page-wrapperN {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
    position: inherit;
    padding: 0 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.readWriteBtn{
	background:#868686;
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	border-radius:0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-o-border-radius:0.3em;
	-ms-border-radius:0.3em;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	line-height: 1.12;
	border: 0 none;
	cursor: pointer;
	padding: 0.7em 1.0em;
	margin: 0.3em 0 0.8em;
	
}
.readWriteBtn:hover{
	background: #FC635E;
}

.readWriteBtn.active{
	background: #FC635E;
}

.accountLink{
	display: block;
    list-style-type: none;
    z-index: 999;
    background: #FFF;
    margin: 0;
	padding: 0;
}
.accountLink:after{
	content: "";
    clear: both;
    display: block;
}
            
.accountLink li{
/*	float: left; */
}

.accountLink li a{
	padding: 1%;
	display: block;
    color: #FC635E;
    font-weight: bold;
    width: 95px;
}
            
.accountLink li:hover a{
    text-decoration: none;
	background: #000;
	cursor: pointer;   
}

.formsLink{
	display: block;
	width: 100%;
    list-style-type: none;
    z-index: 999;
    background: #FFF;
    margin: 0;
	padding: 0;
}
.formsLink:after{
	content: "";
    clear: both;
    display: block;
}
            
.formsLink li{
	float: left;
}

.formsLink li a{
	display: inline-block;
    color: #FC635E;
    font-weight: bold;
    width: 100%;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
            
.formsLink li:hover a{
    text-decoration: none;
	background: #000;
	cursor: pointer;
}

.formsLink li:hover span{
	background: #000;
	cursor: pointer;
	content: url(../images/editImage.png); 
	display: inline;
	float: right;
}

.rowUnSelect{
	color: #FC635E;
	cursor: pointer;
	font-size: 1.1em;
	padding: 10px;
	margin-left: 10px;
}

.rowUnSelect.selected{
	text-decoration: none;
	background: #000;
}

/* For Forms Layout */

.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}

figure {
	margin: 0;
	padding: 0;
	background: #fff;
	border-radius:10%;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.labelHover:hover{
    border: 1px solid lightblue;
}