@CHARSET "ISO-8859-1";

#top {
	width: 100%;		
	padding: 0; /* different browsers default to different values, so set to 0 to make sure there is not maring or padding */
	margin: 0;
}

#topLeft {
	float: left; 
	width: 80%;		/* must ALWAYS set width when using float: */
	padding: 0; /* different browsers default to different values, so set to 0 to make sure there is not maring or padding */
	margin: 0;
}

#topRight {
	float: right;
	margin: 0 2px 5px 2px;	/* top, right, bottom, left */
	width: 19%;
}

#content {
	width: 100%;
	height: 100%; /* 700 */
/*	min-width: 1480px;      11-11-2011
	min-width: 1655px;   /* 11-11-2011 */
	margin: 0;
	padding: 0;
}

#topClear {
	clear: both;
	margin: 0;
	padding: 0;
}

/*#nav {
	clear: both;
	margin: 5px 5px 5px 0;		
	padding: 0;		
}

#navLinks {

	padding: .25em;
	margin: 0;

}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color:white;
} */

/*.wrapperBox{
	border-style: solid;
	border-width: 2px;
	border-color: #D0D0D0;
	margin-left: 10px;
} */

.wrapperBoxDropTarget{
	border-style: solid;
	border-width: 2px;
	border-color: red;
	margin-left: 10px;
}

.wrapperBoxMainGrid{
	border-style: solid;
	border-width: 2px;
	border-color: #D0D0D0;
	padding: 1px 1px 1px 1px;	/* top right bottom left */
}

.pagebodyNotes {
  margin: 40px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
  position: inherit;
  padding: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow-x: auto;
}

#wrapper {
    width: 100%;
}

#page-wrapperN {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
    position: inherit;
    padding: 0 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* make the note entry screen as wide as possible */
.noteEntry {
	width: 100%;
}

/* used in dojo dialog box entry */
.noteEntryTextDialog {
	width: 1250px;
	min-width: 1250px;
	max-width: 1250px;
	padding: 5px;
	margin: 5px;
}

/* used in pagingGrid entry box entry */
.noteEntryTextBox {
	width: 1246px;	/* 1250px */
	padding: 0px;
	margin: 0px 0px 10px, 0px;
}

.noteBox {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #ddd;
}

.commentBox{
	padding: 5px 40px 5px 40px;
	margin-bottom: 0;
	border-top: 1px solid #ddd;
	background: transparent url('../images/comment.gif') no-repeat 0 10px;
}

.newNoteBox {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px;
  height: 150px;
  border-style: solid;
  border-radius: 4px;
  border-color: #ddd;
  width: 1060px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  font-family:open_sansregular;
  overflow:hidden;
  resize: horizontal;
  word-wrap: break-word;
}

.newCommentBox {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px;
  height: 75px;
  border-style: solid;
  border-radius: 4px;
  border-color: #ddd;
  width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  font-family:open_sansregular;
  overflow:hidden;
  resize: horizontal;
  word-wrap: break-word;
}

.adder{background: url(../images/addButtonNotes.png); background-repeat: no-repeat;
			position: absolute; margin-left: 10px; margin-top:4px; cursor: pointer;
            width: 25px; height: 25px;}

.updater{background: url(../images/editImage.png); background-repeat: no-repeat;
			position: absolute; margin-left: 30px; margin-top:4px; cursor: pointer;
            width: 25px; height: 25px;}
            
.deleter{background: url(../images/trashcan.png); background-repeat: no-repeat;
			position: absolute; margin-left: 50px; margin-top:4px; cursor: pointer;
            width: 25px; height: 25px;}
.showEditImage{background: url(../images/editImage.png); width: 25px; background-repeat: no-repeat; position: inherit; cursor: pointer;}