<div id="looper" ng-repeat="master in PFRMMSTRs">
	<div class="row">
    	<div class="col-lg-12">
        	<h4 ng-click="loadForm(master.FRID)"><a ui-sref="forms.formmain" style="color: red;">{{master.FRNAME}}</a></h4>
        </div>
    </div>
<!--    <div class="row">
    	<div class="col-lg-12">
        	<div class="row">
            	<div class="col-lg-12" id = "contentarea">
                	<label id="message" style="color:#FC635E;"></label>
                    <div id="form-group" ng-repeat="prop in master.PFRMPROPs">
                    	<label style = 'margin-top:10px;'>{{prop.FPNAME}}<label ng-show="prop.FPREQ == 'Y'"> * </label>
                       	<input class="form-control" id="{{prop.FPSEQ}}" ng-show="prop.FPTYPE == 'TEXTFIELD'">
                       	<textarea class='form-control' rows='10' id='{{prop.FPSEQ}}' ng-show="prop.FPTYPE == 'TEXTAREA'"></textarea>
                       	<div ng-show="prop.FPTYPE == 'COMBO'">
                       		<select class="form-control" id= "{{prop.FPSEQ}}" ng-repeat="value in prop.FOVALUES">
                       		<option value = "{{value.text}}">{{value.text}}</option>
                       		</select>
                    	</div>
                    	<div ng-show="prop.FPTYPE == 'RADIO'">
                    		<div id="{{prop.FPSEQ}}radiogroup" ng-repeat="value in prop.FOVALUES" 
                    		style='padding:8px;border:0px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);border-radius:4px;'>
                       			<input type='radio' name='{{prop.FPSEQ}}' value='{{value.text}}'>{{value.text}}<br />
                       		</div>
                 		</div>
                    	<input type='checkbox' id = "{{prop.FPSEQ}}" ng-show="prop.FPTYPE == 'CHECKBOX">
                    	<input type='date' id = "{{prop.FPSEQ}}" ng-show="prop.FPTYPE == 'DATE'">
                    	<form action='./rest/FileUploadForm/upload' method='post' class='dropzone' id = "{{prop.FPSEQ}}" enctype='multipart/form-data'></form>
              		</div>
                <div id="buttondiv">
                		<button type='submit' class='wedobtn' ng-click='submitForm()'>Submit</button>
	 	            	<button type='reset' class='wedobtn'>Reset</button>
                	</div>
          		</div>
       		</div>
		</div>
	</div> -->
</div>