	<div class="pagebodyForms">
		<div class='row' id="stay" ng-hide="isFormSubmit">
	 		<div class='col-lg-12'>
	 			<h4><label></label>Forms</h4>
	 		</div>
	 	</div>
		<div id = "outerBox">
			<div id = "leftBarForms">
				<button id="new" class="wedobtn" style="width:100px;font-size:.85em;" ng-click="newForm()" ng-show="shouldShowNew">New</button>
				<ul id='formsLink' class='formsLink' ng-repeat="master in PFRMMSTRs">
					<li><a ui-sref="forms.formseditor" ng-click="editForm(master.FRID)">{{master.FRNAME}}</a></li>
				</ul>
			</div>
<!--			<div class="collapseBarV" id = "collapseBarV">
	 			<div class="collapseArrowV" id="collapseArrowV" ng-style="checkCollapse()" ng-click="isCollapsed = !isCollapsed">&nbsp;</div>
	 		</div>	 -->
			<div id = "formsContent">
		 		<div ui-view="formsViewer"></div>
			</div>
    	</div>
    </div>