<div class="Modal-backdrop"></div>
<div class="Modal-holder">
	<div class="closer" ng-click="closeModal()">X</div>
	<div class="row">
    	<div class="col-lg-12" style="width:95%;">
    		<img ng-src="{{processSource}}" uib-popover-template="titlePopover.templateUrl" popover-title="{{titlePopover.title}}{{Process.TKNO}}"
    			popover-placement="right" style="cursor:pointer;" popover-trigger="outsideClick">
        	<h4 id = "pageheader" style="color:black;display:inline;" ng-focus="editTitle()"tabindex="1">{{Process.ShortDesc}}</h4>
        	<button class="wedobtn" value="New Task" title="New Task" style="float:right;" ng-click="loadTaskTemplates()">Add Task</button>
        </div>
    </div>
	<div class="row">
		<div class="col-lg-12">
    		<div class="row">
        		<div class="col-lg-12" id = "contentarea">
        			<table style="width:100%; border-bottom: 1px solid #dddddd;">
        				<tr>
        					<td style="width:30%;text-align:center;">
        						<h4 style="display:inline;">Due Date: </h4>
        						<label id="EndDate" ng-focus="handleClick('EndDate','')" class="labelHover" style="font-size:18px; width:150px; min-height:28px;" tabindex="2">{{Process.EstCompDateFmt}}</label>
        					</td>
        					<td style="width:30%;text-align:center;">
        						<h4 style="display:inline;">Assigned To: </h4>
        						<label style="font-size:18px; width:225px; min-height:28px;" id="Assigned" ng-focus="ReassignMain()" tabindex="3" class="labelHover">{{Process.AssignedTo}}</label>
        					</td>
        					<td style="width:40%;">
        						<h4 style="display:inline;margin-left:12%;"> Related To: </h4>
        						<ul id="processTags" class="tagit ui-widget ui-widget-content ui-corner-all" style="white-space:nowrap;float:right;overflow-x:hidden; max-width:70%;">
									<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable"></li>
								</ul>
							</td>
        				</tr>
        			</table>	
        			<table style="width:90%; margin-left:5%; margin-top: 1%; margin-bottom: 1%;">
        				<tr ng-repeat="i in getDispNums() track by $index">
        					<td ng-repeat="req in getName($index) track by $index">
        						<h5 style="display:inline;">{{req.Field}}: </h5>
        						<label ng-if="req.Field != 'Approved' && req.Type != 'check' && req.Type != 'dropdown'" class="labelHover" style="font-size:14px; min-height:20px; width: 225px; margin-bottom:0px;" id="{{req.Sort}}" 
        							ng-focus="handleClick(req.Sort, req.Data)" tabindex="{{$index+3}}">{{req.Data}}</label>
        						<label ng-if="req.Type == 'dropdown'" class="labelHover" style="font-size:14px; min-height:20px; width: 225px; margin-bottom:0px;" id="{{req.Sort}}" 
        							ng-focus="handleClickDropdown(req.Sort, req.DSVAL)" tabindex="{{$index+3}}">{{req.DSVAL}}</label>
        						<input type="checkbox" ng-if="req.Field == 'Approved' || req.Type == 'check' && req.Type != 'dropdown'" ng-model="checkbox.selected"/>
        					</td>
        				</tr>
        			</table>	
        			<div class="fakeAccordion" ng-click="addlInfoClick()">
        				Additional Info
        			</div>
        			<div style="width:100%;">
        				<table class="sbtable hoverTable" st-table="displayedProcess" st-pagination-scroll
        					st-safe-src="Process.Tasks" class="table table-striped" style="max-height:400px; 
        						border-bottom: 1px solid #dddddd; margin-bottom: 1%;">
							<thead style="margin-right:0;">
								<tr>
									<th style="width:10%;text-align:center !important; cursor: pointer;">Status</th>
									<th style="width:30%;text-align:center !important; cursor: pointer;">Task Description</th>
									<th style="width:30%;text-align:center !important; cursor: pointer;">Most Recent Notes</th>
									<th style="width:10%;text-align:center !important; cursor: pointer;">Assigned To</th>
									<th style="width:8%;text-align:center !important; cursor: pointer;">Start Date</th>
									<th style="width:7%;text-align:center !important; cursor: pointer;">End Date</th>
									<th style="width:5%;text-align:center !important; cursor: pointer;">Estimate</th>
								</tr>
							</thead>
							<tbody ng-attr-style={{tbodyscroll}}>
								<tr st-select-row="row" st-select-mode="disable" ng-repeat="row in displayedProcess" lr-drag-src="rows" lr-drop-target="rows">
									<td style="width:10%;text-align:center !important; cursor: pointer;">
										<img ng-src="{{row.StatusIcon}}" ng-if="row.Status != '6'" uib-popover-template="dynamicPopover.templateUrl" 
											popover-title="{{dynamicPopover.title}}"
											popover-trigger="outsideClick" ng-click="storeRow(row.TSTSKNO)" popover-enable="row.showPopover">
										<img ng-src="{{row.StatusIcon}}" ng-if="row.Status == '6'" ng-click="startTask">
									</td>
									<td id="Desc{{row.TSTSKNO}}" style="width:30%;text-align:center !important; cursor: pointer;" 
										class="labelHover" ng-click="titleChange(row.TSTSKNO, row.Desc)">{{row.Desc}}
										<img alt="Subsidiary Process" ng-src="{{subProcImg}}" ng-if="row.SubProcType != undefined"
											ng-click="checkForSubProcApproval()">	
									</td>
									<td style="width:30%;text-align:center !important; cursor: pointer;">{{row.RecentNote}}</td>
									<td id="Assigned{{row.TSTSKNO}}" style="width:10%;text-align:center !important; cursor: pointer;" 
										class="labelHover" ng-click="reassign(row.TSTSKNO, row.Assigned)">{{row.Assigned}}</td>
									<td id="Start{{row.TSTSKNO}}" style="width:8%;text-align:center !important; cursor: pointer;"
										class="labelHover" ng-click="openStart(row.TSTSKNO)">{{row.ActStartDateFmt}}</td>
									<td id="End{{row.TSTSKNO}}" style="width:7%;text-align:center !important; cursor: pointer;"
										class="labelHover" ng-click="openEnd(row.TSTSKNO)">{{row.ActCompDateFmt}}</td>
									<td id="Est{{row.TSTSKNO}}" style="width:5%;text-align:center !important; cursor: pointer;"
										class="labelHover" ng-click="estChange(row.TSTSKNO, row.EstHours)">{{row.EstHours}}</td>
								</tr>
							</tbody>
						</table>
        			</div>
        			<div style="width:100%;">
        				<h4>Note: </h4>
        				<text-angular ng-model="Process.RecentNote" style="width: 100%;" ta-toolbar = "[]" ng-change="updateNote()"></text-angular>
        			</div>
        			<div id="buttondiv" style="width:97%;">
                		<button type="submit" class="wedobtn" value="Ok" title="Ok" ng-click="setValid()" style="float:right;">Submit</button>
                	</div>
            	</div>
    <script type="text/ng-template" id="inProcessPopver.html">
		<div>
        	<div class="hover-popup" ng-click="setStatus('1')">
				<img src="./images/tasks/Green_check.png" style="display:inline;padding:5px;">
				<label style="color:black">Complete</label>
			</div>
			<div class="hover-popup" ng-click="setStatus('5')">
				<img src="./images/tasks/Red_pause.png" style="display:inline;padding:5px;">
				<label style="color:black">Pause</label>
			</div>
			<div class="hover-popup" ng-click="setStatus('3')">
				<img src="./images/tasks/Gray_inactive.png" style="display:inline;padding:5px;">
				<label style="color:black">Inactive</label>
			</div>
		</div>
    </script>
    <script type="text/ng-template" id="completePopver.html">
		<div>
        	<div class="hover-popup" ng-click="setStatus('0')">
				<img src="./images/tasks/Red_start.png" style="display:inline;padding:5px;">
				<label style="color:black">Reopen</label>
			</div>
		</div>
    </script>  
    <script type="text/ng-template" id="pausedPopver.html">
		<div>
        	<div class="hover-popup" ng-click="setStatus('0')">
				<img src="./images/tasks/Red_start.png" style="display:inline;padding:5px;">
				<label style="color:black">Resume</label>
			</div>
			<div class="hover-popup" ng-click="setStatus('3')">
				<img src="./images/tasks/Gray_inactive.png" style="display:inline;padding:5px;">
				<label style="color:black">Inactive</label>
			</div>
		</div>
    </script> 
    <script type="text/ng-template" id="processMainPopover.html">
		<div>
        	<div>
				<label ng-style="{'color': statusColor}">{{statusInfo}}</label>
			</div>
			<div class="hover-popup" ng-click="setProcStatus('1')">
				<img src="./images/tasks/Green_check.png" style="display:inline;padding:5px;">
				<label style="color:black">Complete</label>
			</div>
			<div class="hover-popup" ng-click="setProcStatus('5')">
				<img src="./images/tasks/Red_pause.png" style="display:inline;padding:5px;">
				<label style="color:black">Pause</label>
			</div>
			<div class="hover-popup" ng-click="setProcStatus('3')">
				<img src="./images/tasks/Gray_inactive.png" style="display:inline;padding:5px;">
				<label style="color:black">Inactive</label>
			</div>
		</div>
    </script>
    <script type="text/ng-template" id="processMainSecondPopover.html">
		<div>
        	<div>
				<label ng-style="{'color': statusColor}">{{statusInfo}}</label>
			</div>
			<div class="hover-popup" ng-click="setProcStatus('0')">
				<img src="./images/tasks/Red_start.png" style="display:inline;padding:5px;">
				<label style="color:black">Start</label>
			</div>
			<div class="hover-popup" ng-click="setProcStatus('3')">
				<img src="./images/tasks/Gray_inactive.png" style="display:inline;padding:5px;">
				<label style="color:black">Inactive</label>
			</div>
		</div>
    </script> 	
             </div>
      	</div>
   	</div>
</div>