<!-- Modal -->
	<div id="addTagsDialog" role="dialog" aria-labelledby="myModalLabel">
    	<div>
        	<div class="modal-content">
           		<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
                   	<h4 class="modal-title" id="myModalLabel">Add Tags</h4>
              	</div>
                <div class="modal-body" ng-init="init()">
                	<ul id="addNotesTags" class="tagit ui-widget ui-widget-content ui-corner-all" style="width:60%;">
						<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable"></li>
					</ul>           	
                </div>
                <div class="modal-footer">                  	
                	<button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">Close</button>
                    <button type="button" class="wedobtn" data-dismiss="modal" type="submit" ng-click="ok()">Ok</button>
                </div>
          	</div>
            <!-- /.modal-content -->
       	</div>
        <!-- /.modal-dialog -->
   	</div>
    <!-- /.modal -->