<!-- Modal -->
<div id="forgotPasswordDialog" role="dialog" style="height: 100%;" aria-labelledby="myModalLabel">
    <div>
        <div class="modal-content">
           	<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-if="preSubmit">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
            </div>
            <div class="modal-body" >
            	<div ng-if="preSubmit">
               		<p><b>Enter your email: </b><input type="text" ng-model="email.text" style="width: 60%; margin-left: 5%;" autofocus/></p>
               	</div>
               	<div ng-if="!preSubmit">
               		<p>Thank You. You will receive an email shortly.</p>
               	</div>            	
                <div class="modal-footer" ng-if="preSubmit">                  	
                	<button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">Close</button>
                    <button type="button" class="wedobtn" data-dismiss="modal" type="submit" ng-click="ok()">Ok</button>
                </div>
          	</div>
            <!-- /.modal-content -->
       	</div>
        <!-- /.modal-dialog -->
   	</div>
</div>
    <!-- /.modal -->