<!-- Modal -->
	<div id="subProcDialog" role="dialog" style="height: 100%;" aria-labelledby="myModalLabel">
    	<div>
        	<div class="modal-content">
           		<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                   	<h4 class="modal-title" id="myModalLabel">Start Subsidiary Process</h4>
              	</div>
                <div class="modal-body" >
                	<p>This task has a subsidiary process. Would you like to start it?</p>        	
                </div>
                <div class="modal-footer">                  	
                    <button type="button" class="wedobtn" data-dismiss="modal" type="submit" ng-click="ok()">Yes</button>
                    <button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">No</button>
                </div>
          	</div>
            <!-- /.modal-content -->
       	</div>
        <!-- /.modal-dialog -->
   	</div>
    <!-- /.modal -->